@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Title';
  src: url('/src/assets/fonts/Title.ttf');
 }

html, body {
  font-family: 'Press Start 2P';
  color: white;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: black;
  font-size: 2.771362586605081vh;
}

:root {
  letter-spacing: 0.5291005291005291vw;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: white;
  background: black;
  font-synthesis: none;
}

#root {
  margin: 0 auto;
  text-align: center;
}

Link {
  font-size: 18.475750577367204vh;
}

button {
  margin: 1.3227513227513228vw;
}

input {
  background: black;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



/* TITLE SCREEN */



#game-title{
  font-family: Title;
  color: white;
  font-size: 36.95150115473441vh;
}

.bounce-in-bck {
	-webkit-animation: bounce-in-bck 1.1s ease-in both;
	        animation: bounce-in-bck 1.1s ease-in both;
}

#fullscreen{
  position: fixed;
  bottom: 0;
  right: 0;
}



/* CHARACTER SCREEN */



#character-screen-background {
  height: 100vh;
  width: 100vw;
}

#character-sprite {
  position: fixed;
  width: 20vw;
  bottom: 43vh;
  left: 5vw;
  height: 35vh;
}

#character-name {
  position: fixed;
  width: 20vw;
  bottom: 50vh;
  left: 25vw;
}

#name-input {
  width: 16vw;
}

#fav-food {
  position: fixed;
  width: 42vw;
  left: 50vw;
  bottom: 60vh;
}

#fav-food-input {
  width: 30vw;
  text-align: center;
}

#favorite-thing {
  position: fixed;
  display: block;
  width: 42vw;
  left: 50vw;
  bottom: 33vh;
}

#favorite-thing-input {
  width: 30vw;
  text-align: center;
}
#are-you-sure {
  position: fixed;
  bottom: 5vh;
  left: 30vw;
}



/* FIGHT SCREEN */



fieldset{
  display: contents;
}

fieldset:disabled {
  display: none;
}

#enemy {
  width: 16.534391534391535vw;
}

#fight-screen-background {
  height: 100vh;
  width: 100vw;
}

#text-content {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 20vh;
  top: 5vh;
  margin: auto;
  left: 0;
  right: 0;
}

#character-card-name {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 20vw;
  height: 10vh;
  left: 30vw;
  bottom: 26vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}

#character-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  bottom: 6vh;
  right: 50vw;
  width: 20vw;
  margin: 0;
  height: 30vh;
}

.character-stat {
  margin-bottom: 4vh;
  font-size: 2.4018475750577366vh;
}

#fight-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  margin: 0;
  bottom: 6vh;
  left: 50vw;
  width: 20vw;
  height: 30vh;
}

#enemy-sprite {
  position: fixed;
  bottom: 30vh;
  margin: 5% auto;
  left: 0;
  right: 0;
  height: 35vh;
}

#announcer {
  font-size: 2.2170900692840645vh;
}



/* SHOP SCREEN */



#shop-screen {
  background: url(/src/assets/backgrounds/shopScreen.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#shop-dialogue {
  position: fixed;
  left: 12.103174603174603vw;
  width: 51.05820105820106vw;
  height: 48.49884526558891vh;
  bottom: 0vh;
}

#shop-options-div {
  position: fixed;
  left: 62.8968253968254vw;
  width: 24.33862433862434vw;
  height: 48.49884526558891vh;
  bottom: 0vh;
}

#shop-options-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 43vh;
}

#shop-text{
  font-size: 2.2170900692840645vh;
}



/* GAME OVER SCREEN */



#game-over-screen {
  background: url(/src/assets/backgrounds/gameOver.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#dead-character {
  position: fixed;
  width: 6vw;
  height: 10vh;
  bottom: 30vh;
  left: 0;
  right: 0;
  margin: auto;
}

#try-again{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: auto;
  width: 40vw;
}


/**
 * ----------------------------------------
 * animation bounce-in-bck
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
            transform: scale(7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(1.24);
            transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
            transform: scale(7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(1.24);
            transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
